body
{
 background-color : red;
}

h1
{
  color :blue;
  text-align :center;
}

h2
{
  color : white;
  text-align : center;
}

h4
{
  color :black;
  text-align :center;
}

li
{
 font-size :30px;
 text-align :center;
}

td
{
  text-align :center;
  font-size :25px;
}

p
{
 text-align :center;
 font-size :25px;
}

#L'image des lapins est une image personnelle. Pour les autres images, il suffit de taper le nom que je leur ai donné sur google image et elles font normalement partie des toutes premières. Pour moi ces images sont libres de droit.


 
