body
{
	background-color : grey;
	color : black;
}
.important
{
	text-align : center;
	font-size : 20px;
}
.texte
{
	font-size : 20px;
}
h1
{
	color : black;
	font-size : 36px;
	font-family : Arial;
	text-align : center;
}
h3
{
	color : green;
	font-size : 26px;
}
strong
{
	color : green;
}
em
{
	color : green;
}



