html{
	background-color : #61C4E0;
	
}


h4{
	color :white; 
	font-size : 40px; 
	text-align : normal;
	}
body{
	
	font-size : 20px; 
	text-align : center;
	color : white;
}	
p{
	color : white;
	text-align : center;
}	
   	