h1
{
	color : red;
	font-size :36px;
}
h2
{
	color : blue;
	font-size :36px;
}
p
{
	color : black;
	font-size : 14 px;
	}
	
 img{
	width: 300px;
	height: 300px;
}

balise{
	font-family : Comic Sans MS
}

