h1
{
	color : rgb(51, 199, 0);
	font-size : 40px;	
	text-align : center;
}

p
{
	color : white;
	font-size : 30px;
	text-align : center;
}

h2
{
	color : red;
	font-size: 30px
	text-align : center;
}


body
{
	background-color : rgb(0, 51, 102);
}

ul
{
	color: white;
	font-family: normal;
}

li
{
	color: red;
	font-family: normal;
	font-size: 35px;
}

a 
{
	color: red;
	font-family: normal;
	font-size: 35px
}


table, th, td, tr
{
  border: 1px solid black;
  border-collapse: collapse;
}
