body
{
	background-color : Blue
}

h1
{
	color : Black;
	font-size :56px;
}
p
{
	text-align : justify;
	color : white;
	font-size : 14 px;
	font-family : Arial;
}
table tr td
{
	color : white;
	font-family : Arial;
}
li
{
	color : white;
	font-family : Arial;
	text-align : justify;
}

a
{
	color : Red;
	font-family : Arial;
}