body
{
	background-color :#E6E8F9;
	color : black;
	
	
}


h1
{
	color : #1935D9; 
	font-family : "Comic Sans Ms";
	font-size :54px; 
	text-align : center;
}

h2
{
	color : purple; 
	font-family : "Comic Sans Ms";
	font-size :40px; 
	text-align : center;
}
p
{
	color :black; 
	font-size : 20px; 
	text-align : normal;
}
li
{
	font-style : italic;
	font-size : 24px;
}
a
{
	font-style : normal;
	font-size : 30px;
}
table
{
	color : #810C1C;
	width: 100%;
	font-size : 30px;
	text-align : center;
}	
