h1
{
	color : rgb(0, 108, 108);
	font-size : 40px;	
	text-align : center;
}

p
{
	color : black;
	font-size : 20px;
}

h2
{
	color : rgb(0, 138, 138);
	font-size: 30px
}

body
{
	background-color : rgb(128, 179, 255);
}

ul
{
	color: black;
	font-family: normal;
}

li
{
	color: black;
	font-family: normal;
}

a 
{
	font-family: normal;
}


table, th, td, tr
{
  border: 1px solid black;
  border-collapse: collapse;
}
